{% extends 'base.html' %}

{% block title %}Adoption Agency{% endblock %}

{% block content %}

<h1>Add a pet</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class="form-group">
        {{field.label}}
        {{field(class_="form-control")}}
  
        {% for err in field.errors %}
        <small class="form-text text-danger">
          {{err}}
        </small>
        {% endfor %}
    </div>

    {% endfor %}
    <a href="/" class="btn btn-outline-info" >Go Back</a>
    <button class="btn btn-info">Add a pet</button>
  </form>


{% endblock %}
